

<div class='todo-list'>
  <h1 id='todoHeader'>Loading</h1>

  <div class='search-bar'>
    <form>
      <input type='search' name='search'><input type='submit' value='Search'>
    </form>
  </div>
  <br>
  <div class='content'>
    <ol class="list-group list_of_items"></ol>
  </div>

  <div class='new-list'>
    <h1>NEW LIST</h1>
  </div>

  <div class='edit-list'>
    <h1>EDIT LIST</h1>
  </div>

</div>

<script src="/js/todo.js"></script>
